# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*~

# Editor files
*.swp

# Autotools
Makefile.in
aclocal.m4
autom4te.cache/*
config.h.in
config/*
configure
!src/gdrdrv/Makefile.in

# Packages
*.rpm
*.deb
